<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <title>@PAGE_TITLE@</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">Home</a>
          <a href="/notes">Notes</a>
          <a href="https://github.com/sequpt">GitHub</a>
        </div>
      </nav>
    </header>
    <main>@PAGE_MAIN@</main>
    <footer></footer>
  </body>
</html>
